html, body {
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    color: #3c9a17;
    text-decoration: none;
}

.horizontal-timeline-container {
    /*width: 700px;*/
    width: 80vw;
    height: 500px;
    overflow: hidden;
    margin: 5em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ceedf4;
}

.timeline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4px;
    /*margin: 0 auto;*/
    background-color: #8ad5e7;
    width: 80vw;
    /*padding: 2px;*/
}

.timeline ol {
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.timeline ol li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.timeline ol li a {
    position: absolute;
    display: flex;
    background-color: #cb63e3;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: background-color 0.3s ease;
}

.timeline ol li a:hover {
    background-color: #00a1c4;
    color: #fff;
}

.timeline ol li span {
    margin-top: 32px;
}

.timeline ol li a.active {
    background-color: #f39c12;
}

.filling-line {
    position: absolute;
    /*top: 50%;*/
    height: 8px;
    background-color: #da773f;
    z-index: 0;
    /*transform: translateY(-50%);*/
    /*transition: width 0.3s ease;*/
    display: none;
}
