html, body {
    height: 100%;
    font-size: 0.8rem;
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    margin: 0;
}

a {
    color: #3c9a17;
    text-decoration: none;
}

.horizontal-timeline {
    width: 100%;
    opacity: 100%;
    margin: 5em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.horizontal-timeline .time {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2px;
    /*margin: 0 auto;*/
    background-color: #8ad5e7;
    width: 80%;
    /*padding: 2px;*/
}

.time ol {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
}

.time ol li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.time ol li a {
    display: flex;
    position: relative;
    top: 11px;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*padding: 10px;*/
    background-color: #cb63e3;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 30px;
    /*text-align: center;*/
    transition: background-color 0.3s ease;
}

.time ol li a:hover {
    background-color: #00a1c4;
    color: #fff;
}

.time ol li a.active {
    background-color: #f39c12;
}

.time ol li span {
    margin-top: 10px;
}

/*.filling-line {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    height: 10px;*/
/*    width: 100%;*/
/*    background-color: #da773f;*/
/*    !*z-index: -1;*!*/
/*    !*transform: translateY(-50%);*!*/
/*}*/

.filling-line {
    position: absolute;
    /*top: 50%;*/
    height: 8px;
    background-color: #da773f;
    z-index: 0;
    /*transform: translateY(-50%);*/
    /*transition: width 0.3s ease;*/
    display: none;
}
