/**, *::before, *::after {*/
/*    box-sizing: border-box;*/
/*    margin:  0;*/
/*    padding: 0;*/
/*}*/

html, body {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
svg {
    width: 90%;
    margin: 0;
    filter: drop-shadow(0px 0px 1em #6a6d8c);
    display: block;
    justify-content: flex-end;
    stroke-linecap: round;
    overflow: visible;
}

svg:active {
    cursor: grabbing;
}

#timeline {
    stroke: #3f4261;
}

.timeline-horizontal-line {
    stroke-width: 5px;
    stroke: #5d638b;
}

.timeline-vertical-line-hour {
    stroke-opacity: 0;
}

.timeline-vertical-line-halfHour {
    stroke-opacity: 0;
}

.timeline-vertical-line-quarterHour {
    stroke-opacity: 0;

}

.timeline-vertical-line-fiveMinutes {
    stroke-opacity: 0;
}

.timeline-vertical-line-oneMinute {
    stroke-opacity: 0;
    opacity: 40%;
}

.tick {
    transition: opacity 0.3s ease; /* Sanfte Übergänge für Ticks */
    /*stroke: black;*/
    z-index: 1000;
}

.tick-label {
    text-anchor: middle;
    font-weight: lighter;
    stroke: none;
    fill: white;
    user-select: none;
    /*dominant-baseline: central; !* Verhindert vertikales Springen bei verschiedenen Schriftgrößen *!*/
    z-index: 1000;
}

.tick-label-above {
    text-anchor: middle;
    font-weight: lighter;
    stroke: none;
    fill: white;
    user-select: none;
    z-index: 2000;
}

#markings-layer rect {
    stroke: none;
    opacity: 0.1;
}
